@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Ajustar codigo
.token-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // overflow: hidden;
}
.token.comment {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#container-code {
  &::-webkit-scrollbar {
    border-radius: 12px;
    background: #111827;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom right,
      rgb(98, 0, 255),
      rgb(206, 0, 75)
    );
  }
}
