#JavaScript {
  background: linear-gradient(to left bottom, #f4d03f, #d4ac0d);
}
#Markdown {
  background: #17202a;
}
#Python {
  //   background: linear-gradient(to left bottom, #3498db, #17202a);
  background: #ec7063;
}
#Programacion {
  background: rgb(56, 56, 255);
}
#Docker {
  background: linear-gradient(to left bottom, #aed6f1, #3498db);
}
#C {
  background: linear-gradient(to left bottom, #a0afc1, #798491);
}
#CS {
  background: linear-gradient(to left bottom, #934b8e, #631f74);
}
#CPP {
  background: linear-gradient(to left bottom, #6092c7, #00417b);
}
#Linux {
  background: linear-gradient(to left bottom, rgb(31, 30, 30), #030409);
}
#IA {
  background: linear-gradient(to left bottom, #3498db, #17202a);
}
#Fisica {
  background: linear-gradient(to left bottom, #cfcfd7, #1b486a);
}
#Matematicas {
  background: linear-gradient(to left bottom, #ec7063, #b03a2e);
}
#Quimica {
  background: linear-gradient(to left bottom, #a7d6f2, #000000);
}
#Ingles {
  background: linear-gradient(to left bottom, #c41329, #f2f2f2);
}
